body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .card {
    margin-bottom: 0.75rem !important;
  }
  .card-body {
    padding: 0.5rem;
  }
}

/* ensure date pickers appear above other elements */
.DateInput {
  z-index: 1100 !important;
}
